body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
}

#history div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}